USE [master]
GO
/****** Object:  Database [D:\NOT_WORK\TWITCHBOT\TWITCHBOT\TWITCHBOT\DATA\TWITCHBOT.MDF]    Script Date: 14.11.2018 14:59:35 ******/
CREATE DATABASE [D:\NOT_WORK\TWITCHBOT\TWITCHBOT\TWITCHBOT\DATA\TWITCHBOT.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'twitchbot', FILENAME = N'D:\NOT_WORK\TwitchBot\TwitchBot\TwitchBot\data\twitchbot.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'twitchbot_log', FILENAME = N'D:\NOT_WORK\TwitchBot\TwitchBot\TwitchBot\data\twitchbot_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [D:\NOT_WORK\TWITCHBOT\TWITCHBOT\TWITCHBOT\DATA\TWITCHBOT.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [D:\NOT_WORK\TWITCHBOT\TWITCHBOT\TWITCHBOT\DATA\TWITCHBOT.MDF]
GO
/****** Object:  Table [dbo].[Channels]    Script Date: 14.11.2018 14:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Channels](
	[ChannelID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ChannelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 14.11.2018 14:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ChannelID] [int] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[Text] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Points]    Script Date: 14.11.2018 14:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Points](
	[PointID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ChannelID] [int] NOT NULL,
	[Amount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PointID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResponseCommands]    Script Date: 14.11.2018 14:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResponseCommands](
	[ResponseCommandID] [int] IDENTITY(1,1) NOT NULL,
	[ChannelID] [int] NOT NULL,
	[Trigger] [nvarchar](500) NOT NULL,
	[ResponseText] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ResponseCommandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 14.11.2018 14:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Channels]  WITH CHECK ADD  CONSTRAINT [FK_Channels_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Channels] CHECK CONSTRAINT [FK_Channels_Users]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Channels] FOREIGN KEY([ChannelID])
REFERENCES [dbo].[Channels] ([ChannelID])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Channels]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Users]
GO
ALTER TABLE [dbo].[Points]  WITH CHECK ADD  CONSTRAINT [FK_Points_Channels] FOREIGN KEY([ChannelID])
REFERENCES [dbo].[Channels] ([ChannelID])
GO
ALTER TABLE [dbo].[Points] CHECK CONSTRAINT [FK_Points_Channels]
GO
ALTER TABLE [dbo].[Points]  WITH CHECK ADD  CONSTRAINT [FK_Points_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Points] CHECK CONSTRAINT [FK_Points_Users]
GO
ALTER TABLE [dbo].[ResponseCommands]  WITH CHECK ADD  CONSTRAINT [FK_ResponseCommands_Channels] FOREIGN KEY([ChannelID])
REFERENCES [dbo].[Channels] ([ChannelID])
GO
ALTER TABLE [dbo].[ResponseCommands] CHECK CONSTRAINT [FK_ResponseCommands_Channels]
GO
USE [master]
GO
